<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.0.1" targetFramework="net48" />
  <package id="Betalgo.OpenAI" version="7.3.1" targetFramework="net48" />
  <package id="BrotliSharpLib" version="0.3.3" targetFramework="net48" />
  <package id="CoreTweet" version="1.0.0.483" targetFramework="net48" />
  <package id="CsvHelper" version="28.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="DiffPlex" version="1.7.1" targetFramework="net48" />
  <package id="Facebook" version="7.0.6" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.22" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net48" />
  <package id="NReadability" version="1.4.9" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http.Json" version="7.0.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>